// Colors
$primary-color: #C23949;
$secondary-color: #DB8892;
$third-color: #F4DADD;
$bg-color: #FFFAFA;
$bg-color-transparent: #fffafa8f;
$black-color: #333333;
$black2-color: #828282;
$black3-color: #BDBDBD;
$line-on-white: #DB8892;
$border: 1px solid rgba(219, 136, 146, 0.5);
$border-back: 1px solid rgba(219, 136, 146, 0.3);
$border-screen-two: 3px solid $third-color;
// Bezier
$bounce-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
// Box Shadow
$shadow: 0px 0px 30px rgba(219, 136, 146, 0.5);
// Margin
$margin-mobile: 0 23px;
// Animation
@mixin animation-enter() {
    opacity: 0;
    transform: scale(0);
    transition: all .5s $bounce-bezier;
    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

@mixin transition() {
    transition: all .5s ease-in-out;
}